<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".BuatPengaduan"
            android:exported="false" />
        <activity
            android:name=".Ditanggapi"
            android:exported="false" />
        <activity
            android:name=".TambahPengaduan"
            android:exported="false" />
        <activity
            android:name=".MasyarakatProfile"
            android:exported="false" />
        <activity
            android:name=".RegistrasiAdmin"
            android:exported="false" />
        <activity
            android:name=".RegistrasiMasyarakat"
            android:exported="false" />
        <activity
            android:name=".HomeAdmin"
            android:exported="false" />
        <activity
            android:name=".AddTanggapan"
            android:exported="false" />
        <activity
            android:name=".AddPengaduan"
            android:exported="false" />
        <activity
            android:name=".HomePetugas"
            android:exported="false" />
        <activity
            android:name=".HomeMasyarakat"
            android:exported="false" />
        <activity
            android:name=".LoginAdminPetugasActivity"
            android:exported="false" />
        <activity
            android:name=".LoginMasyarakatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>